.support-section {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.sec-container {
  width: 1400px;
  background-image: url("../assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.sup-sec-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sup-title-des {
  
}

.sup-sec-title {
  font-size: 50px;
  color: white;
  margin: 30px 0px;

}


.sup-sec-des {
  color: rgb(141, 141, 141);
  font-size: 18px;
}

.sup-box-sub {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.search-box {
  width: 500px;
  padding: 0px 30px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
}


.sup-btn {
  background-color: white;
  color: black;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
 }
 
 sup-btn:hover {
   background-color: black;
   color: white;
 }

 